* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

body {
  background-image: url('https://www.laotracaradelanoticia.com.ar/adjuntos/800/laotracara/2022/11/gomeria.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Agregué una fuente de respaldo para mayor legibilidad */
}

@media only screen and (min-width: 250px) and (max-width: 991px) {
  .imgMobile {
    display: none;
  }
}

.titulo {
  text-align: center;
  color: blue;
}

.letter {
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
}

a .titleHeader {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}

.h2Title {
  color: white;
  font-size: 50px;
  font-weight: 600;
  padding-top: 15px;
  padding: 15px;
}

.tarjetaDeProducto {
  border: 2px solid #746c6c;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
}

.tarjetaDeProducto .btnAgregar {
  background-color: rgba(248, 248, 243, 0.842);
  color: black;
  border-radius: 10px;
  padding: 5px;
  border: 5px solid rgba(207, 207, 49, 0.842);
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.imagentarjeta {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#carritoDOM {
  border: 10px solid white;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}

.colorBusca {
  background-color: rgba(248, 248, 243, 0.842);
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid rgba(207, 207, 49, 0.842);
}

.btnBuscador,
.btnCarrito {
  background-color: darkseagreen;
  color: black;
  padding: 10px;
  margin-left: 15px;
  border-radius: 10px;
  border: 5px solid white;
}

.ocultar {
  display: none;
}

.formatoRegYSes {
  width: 400px;
  height: 270px;
  border: 5px solid white;
  border-radius: 8px;
  margin: 30px;
  padding: 15px;
}

.btnRegIn {
  border: 5px solid white;
  border-radius: 10px;
  background-color: darkseagreen;
  padding: 10px;
  margin-top: 5px;
  color: black;
}

.btnCarrito {
  padding: 15px;
  width: 250px;
  margin: 10px;
}
